<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AlgoTrader</title>

    <!-- bootstrap links: -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <ul class="nav nav-tabs" >
        <li class="nav-link " >
            <a class="navbar-brand hey"  href="{{url_for('home')}}">Home</a>
        </li>    
        <li class="nav-link ">
            <a class="navbar-brand hey" href="{{url_for('info')}}">Info</a>
        </li>    
    </ul>
        <li class="nav-link ">
            <a class="navbar-brand" href="{{url_for('login')}}">Login</a>
        </li>    

    </nav>


    
<div class="header">

    <!--Content before waves-->
    <div class="inner-header">
    <!--Just the logo.. Don't mind this-->
        

        <!-- blocked content is shown on this page only -->

        <div class='container text-center justify-content-center '>
            {% block content %}   
        
            <div class="main vertical-center horizontal-center" >

                    
                    <h5>Account is working: {{actstat}}</h5>
                    <!-- <h5>Buying Power: {{actbp}}</h5> -->
                <h5>The market is open: {{clock.is_open}}</h5>
                <div class='row justify-content-center'>
                    

                    
                    <div class='col-auto border border-success rounded'>
                        <h6>Active positions:</h6>
                        <div class="cylon-bg">

                            <div class="cylon_eye"></div>
                        </div>
                        
                        <table class="table table-responsive">
                            <thead>
                                <tr>
                                    <th>Symbol</th>
                                    <th>Avg Price</th>
                                    <th>Current Price</th>
                                    <th>Qty</th>
                                </tr>
                            </thead>
                            {% for pos in portfolio %}
                            <tr>

                            <td>{{pos.symbol}}</td>
                            <td>{{pos.avg_entry_price}}</td>    
                            <td>{{pos.current_price}}</td>    
                            <td>{{pos.qty}}</td>   
                            
                        </tr>
                        {% endfor %}
                        
                        
                    </table>
                    <br>
                    <a href="{{ url_for('home') }}"><button class="btn btn-info rfrsh">Refresh</button></a>
                    
                    <br>
                    <!-- <a href="{{url_for('get_data')}}"><button class="btn btn-success runprgm" id="run"> Run Program</button></a> -->
                    
                </div>
               



            </div>
            <br>
        </div>
    </div>
    {% endblock %}

            
            
            
        
        
    </div >

<!--Waves Container-->
    <div class="footer">
      
       
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
    <defs>
    <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
    </defs>
    <g class="parallax">
    <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
    <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
    <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
    <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
    </g>
    </svg>
    </div>
    <!--Waves end-->
</div>

</body>
</html>